@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
	font-family: 'Archangelsk';
	src: url('fonts/Archangelsk.ttf') format('truetype');
}
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


.first_block{
	height: 1000px;
	width: 1920px;
	background: url(../img/first_back.jpg);
}
.header_first{
	width: 1280px;
	height: 74px;
	display: flex;
	margin: 0px 320px 0px 320px;
	padding-top: 20px;
}

.logo_header{
	width: 640px;
	height: 74px;
	flex:1;
}
.social_header{
	margin-top: 22px;
	margin-left: 261px;
	width: 640px;
	height: 74px;
	flex:1;
}
.cyberpunk_logo{
height: 74px;
width: 296px;
}
.youtube_header{
height: 30px;
width: 30px;
margin-right: 40px;
}
.vk_header{
	height: 30px;
	width: 30px;
	margin-right: 40px;
}
.facebook_header{
	height: 30px;
	width: 30px;
	margin-right: 40px;
}
.twitter_header{
	height: 30px;
	width: 30px;
	margin-right: 40px;
}
.twitch_header{
	height: 30px;
	width: 28,36px;
	margin-right: 40.64px;
}
.instagram_header{
	height: 30px;
	width: 30px;
}
.yelow_block{
	background-color: #F8F200;
	width: 624px;
	height: 369px;	
	margin: 557px 320px 0px 976px;
	clip-path: polygon(8% 0, 100% 0, 100% 86%, 92% 100%, 0 100%, 0 14%);	

}
.top_yelow{
	width: 624px;
	height: 196px;
	font-family: Archangelsk;	                            /*Шрифт так и не нашёл*/
	font-size: 62px;
	line-height: 63.3px;
	letter-spacing: 0%;
	padding: 70px 70px 0px 70px;
}
.down_yelow{
	display: block;
	width: 624px;
	height: 173px;	
}
.down_yelow_button{
	background-color: black;
	width: 272px;
	height: 78px;
	display: block;
	margin: 48px 282px 70px 70px;
	padding: 19px 50px 19px 50px;
}
.uznat_bolshe{
	width: 172px;
	height: 40px;
	line-height: 40px;
	color: #F8F200;
	text-align: center;
	font-size: 24px;
	font-family: Roboto;
	
	
}
.container{
	margin: 0 auto;
  width: 1280px;
}
.second_block{
	margin: 0 auto;
	width: 1920px;
	height: 777px;

}
.second_block_top{
	height: 353px;
}	
.nc_change{
	font-size: 62px;
	font-weight: 400px;
	padding-top: 70px;
	font-family: archangelsk;
}
.nc_change_2{
padding-top: 25px;
font-size: 18px;
font-family: roboto;
width: 952px;
height: 125px;
line-height: 34px;
}
.Cyberpunk{
	color: aqua;
}
.second_block_bot{
	display: flex;
}
.second_block_left.second_block_right{
	flex: 1;
}
.Rectangle_1{
	padding-bottom: 32px;
}
.gradient{
	width: 1920px;
	height: 70px;
}
.third_block{
	width: 1920px;
	height: 814px;
	background-color: black;
}
.third_block_play{
	width: 1280px;
	height: 132px;
	display: flex;
	padding-top: 15px;
}
.Group_215{
	width: 132px;
	height: 132px;
}
.play_win{
	font-size: 62px;
	margin-top: 55px;
	margin-left: 32px;
	line-height: 63,3px;
	color: #FFFFFF;
	flex: 1;
	font-family: archangelsk;
}
.play_SP{
	font-size: 18px;
font-family: roboto;
line-height: 34px;
color: #FFFFFF;
width: 952px;
height: 91px;
margin-top: 39px;
}
.third_bot{
	height: 456px;
	display: flex;
}
.form_third{
	width: 460px;
	height: 383px;
	margin-top: 73px;
}
.grop_217{
	flex: 1;
}

.form_name{
	width: 460px;
	height: 35px;
	background-color: black;
	color: white;
	font-family: roboto;
	font-size: 18px;
	line-height: 21.09px;
	border-bottom: 1px solid white;
}
.form_mail{
	width: 460px;
	height: 35px;
	background-color: black;
	color: white;
	font-family: roboto;
	font-size: 18px;
	line-height: 21.09px;
	border-bottom: 1px solid white;
}
.form_49{
	margin-bottom: 35px;
}

.sec_gradient{
	width: 1920px;
	height: 70px;
}

.acceprt_form{
	font-family: roboto;
	font-size: 12px;
	color: white;
	line-height: 14.06px;
}
.fourths_block{
	background-color: #F8F200;
	height: 676px;
	width: 1920px;
	
}
.fourths_blockSS{
	display: flex;
    justify-content: space-between; /* Размещаем элементы по краям */
	padding-top: 70px;
}
.monitor_logo{
	width: 624px;
	height: 536px;
	flex: 1;
	margin-right: 32px;
}
.immersion{
	width: 624px;
	flex: 1;
	height: 536px;
}
.monitor{
	width: 624px;
	height: 430px;
}
.logo_4{
width: 540px;
height: 80px;
margin-top: 26px;
margin-left: 42px;
}
.full_immer{
	font-size: 62px;
	line-height: 63,3px;
	font-family: archangelsk;
	margin-bottom: 25px;
}
.action_games{
	font-size: 18px;
	line-height: 34px;
	font-family: roboto;
	height: 125px;
	width: 624px;
	margin-bottom: 25px;
}
.bryght_crystal_fast{
	display: flex;
	margin-bottom: 15px;
}
.bryght_crystal_fast_P{
flex: 1;
padding: 6px 0px 5px 10px;
font-size: 18px;
font-family: roboto;
}
.custom-button{
	background-color: black;
    color: yellow;
    font-size: 16px;
    font-weight: bold;
	font-family: roboto;
	width: 194px;
	height: 59px;
	border: none;
    padding: 19px 50px;
    cursor: pointer;
	
}
.block_button{
	margin-top: 59px;
}
.five_block{
	
	height: 717px;
	width: 1920px;
	display: flex;
    justify-content: space-between; /* Размещаем элементы по краям */
}
.disk{
	display: block;
}
.buy{
	background-color: black;
	width: 976px;
	height: 717px;
}
.buy_p{
	font-family: archangelsk;
	font-size: 62px;
	line-height: 63,3px;
	color: #FFFFFF;
	width: 624px;
	height: 126px;
	margin: 70px 320px 25px 32px;
}
.complect{
	font-family: roboto;
	font-size: 24px;
	line-height: 28.13px;
	color:  #52BEDC;
	margin-left: 32px;
	margin-bottom: 15px;
}
.dick_wys_colections_P{
	font-family: roboto;
	font-size: 18px;
	line-height: 21,09px;
	color: white;
	flex: 1;
	margin: 6px 0px 5px 10px;
}
.dick_wys_colections{
	margin-left: 32px;
	display: flex;
	margin-bottom: 15px;
}
.platforms{
	margin-top: 70px;
	width: 319px;
	height: 186,27px;
	margin-left: 32px;
}
.choose_platform{
    font-family: roboto;
	font-size: 24px;
	line-height: 28.13px;
	color:  #52BEDC;
}

.platforms_img{
margin-top: 24.85px;
}
.pc{
	margin-right: 79px;
}
.pc_xbox{
	margin-bottom: 47.81px;
}
.ps4{
	margin-left: 80px;
	margin-top: 8px;
}
.white_footer{
	background-color: #FFFFFF;
	height: 100px;
}
.black_foote{
	background-color: black;
}
.logo_footer{
margin: 13px 0px 13px 320px;
}
.cdpr_footer{
	margin: 13px 0px 13px 32px;
}
.license{
	margin-top: 39px;
	margin-bottom: 40px;
	
font-family: roboto;
font-size: 18px;
line-height: 21.09px;
color: black;
}
.polit_conf{
	font-family: roboto;
	font-size: 18px;
	line-height: 21.09px;
	color: black;
	margin-top: 39px;
	margin-bottom: 40px;
	margin-left: 32px;
	margin-right: 321px;
}
.black_footer{
	
	display: flex;
}
footer{
	display: flex;
	width: 1920px;	
}
.white_footer{
	flex: 1;
}
.under_footer{
	background-color: black;
	width: 1920px;
	height: 40px;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 12.06px;
	font-family: roboto;
	text-align: center;
	padding-top: 13px;
}


.file-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 460px; /* Ширина блока */
    height: 120px; /* Высота блока */
    border: 1px dashed gray; /* Пунктирная рамка */
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 10px;
	margin-bottom: 35px ;
}

.file-upload input {
    display: none; /* Прячем стандартное поле загрузки */
}

.file-upload span {
    font-size: 16px;
    text-decoration: underline;
}

.file-upload small {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}
.file_down{
	font-size: 18px;
	line-height: 21.09px;
	font-family: roboto;
}
.png_jpg_pdf{
	font-size: 12px;
	line-height: 14.06px;
	font-family: roboto;
}
.send_form{
		background-color: #F8F200;
		color: black; /* Чёрный текст */
		font-size: 16px;
		font-weight: bold;
		border: none;
		padding: 10px 20px;
		cursor: pointer;
		text-align: center;
		display: inline-block;
		width: 192px;
		height: 59px;
	font-size: 18px;
	font-family: roboto;
	line-height: 21.09px;
	margin-bottom: 15px;
}